*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;


}
.wrapper{
    height: 100px;
    width: 360px;
    background: red;
    border-radius: 10px;
}
.wrapper .display{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%,-50%);
    background: blue;
    height: 85px;
    width: 375px;
    text-align: center;
}
.wrapper .display #time{
line-height: 85px;
color: #fff;
font-size: 50px;
font-weight: 600;
}